<p>Ask your coach anything:</p>
<form action="/answer">
  <div class="container-input">
    <input type="text" id="question" name="question">
    <input type="submit" class="btn-blue" value="Ask!">
  </div>
</form>
